$myFont: Helvetica, sans-serif;
$black: #030303;
$blue: #005500;
$green: #042f39;

.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  .header {
    flex: 0 0 150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 20px;

    nav {
      align-self: flex-start;

      ul {
        list-style-type: none;
        margin: 10px;
        padding: 0 10px;
        overflow: hidden;
        border-bottom: solid 2px #030303;

        li {
          float: left;
          a {
            color: $black;
            display: block;

            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
          }
          a:hover {
            color: $blue;
          }
          .active {
            font-weight: bolder;
          }
        }
      }
    }
    .myTitle {
      margin: 20px;
      align-self: flex-end;
      h1 {
        font-size: 37px;
        font-weight: bolder;
        margin: 0;
      }
      p {
        font-size: 20px;
        margin: 0;
      }
    }
  }

  .body {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
  }

  .portfolio {
    display: flex;
    height: 100%;

    .nextButton {
      align-self: center;
      flex: 0 0 70px;
      margin: 10px;
    }
    .main {
      align-self: center;
      display: flex;
      height: 90%;

      .info {
        flex: 1;

        border-right: solid 3px $black;
        padding: 50px;
        padding-left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        h1 {
          font-size: 32px;
          margin-bottom: 0;
        }
        h3 {
          margin-top: 2px;
          margin-right: 5px;
        }
        .about {
          font-size: 18px;
          max-width: 90%;
          text-align: right;
        }
        .context {
          font-size: 14px;
          max-width: 80%;
          text-align: right;
        }
        .stack {
          border-top: 2px solid $black;
          align-self: flex-start;
          padding: 0 50px;
          font-size: 16px;
        }
        .year {
          font-size: 16px;
        }
      }
      .imageLink {
        flex: 1;
        align-self: stretch;
        padding: 50px;
        padding-right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
          max-width: 425px;

          .desktop {
            position: relative;
            width: 100%;
            z-index: -1;
          }
          .mobile {
            width: 20%;
            margin-bottom: -230px;
          }
        }

        .link {
          margin-top: 25px;
          font-size: 20px;
        }
      }
    }
  }

  .aboutMe {
    .main {
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 90%;

      .info {
        flex: 1;
        padding: 50px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .about {
          font-size: 20px;
          max-width: 90%;
          text-align: left;
        }
        .context {
          font-size: 16px;
          max-width: 80%;
          text-align: left;
        }
        .stack {
          margin-top: 20px;
          border-top: 2px solid $black;
          align-self: flex-start;
          padding: 0 50px;
          font-size: 18px;
        }
      }
      .imageLink {
        flex: 1;
        padding: 50px 0;
        border-right: solid 3px $black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
          max-width: 350px;

          .portrait {
            width: 100%;
          }
        }
      }
    }
  }
  .footer {
    flex: 0 0 100px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;

    img {
      height: 45px;
      margin: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .layout {
    .header {
      flex-direction: column;
      nav {
        align-self: flex-end;

        ul {
          margin-top: 20px;
          li {
            a {
              padding: 7px 8px;
            }
          }
        }
      }
      .myTitle {
        align-self: flex-start;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .portfolio {
      .nextButton {
        flex: 0 0 60px;
      }
      .main {
        flex-direction: column-reverse;
        .info {
          border-right: none;
          padding: 5px;
          align-items: center;
          h1 {
            font-size: 30px;
          }
          h3 {
            margin-top: 4px;
          }
          .about {
            font-size: 20px;
            max-width: 100%;
            text-align: center;
            margin: 5px;
          }
          .context {
            font-size: 15px;
            max-width: 90%;
            text-align: center;
          }
          .stack {
            margin-top: 10px;
            border-top: 2px solid $black;
            align-self: center;
            text-align: center;
            padding: 0 50px;
            font-size: 15px;
          }
          .year {
            font-size: 12px;
          }
        }
        .imageLink {
          flex: 1;
          padding: 0;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .image {
            max-width: 350px;

            .desktop {
              position: relative;
              width: 100%;
              z-index: -1;
            }
            .mobile {
              width: 20%;
              margin-bottom: -220px;
            }
          }

          .link {
            margin: 10px;

            font-size: 18px;
          }
        }
      }
    }

    .aboutMe {
      .main {
        flex-direction: column;
        .info {
          padding: 10px;
          align-items: center;
          justify-content: flex-start;

          .about {
            text-align: center;
          }
          .context {
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
          }
          .stack {
            align-self: center;
            text-align: center;
            font-size: 18px;
          }
        }
        .imageLink {
          padding: 0;
          border-right: none;
          justify-content: flex-end;
          .image {
            max-width: 300px;
          }
        }
      }
    }

    .footer {
      flex: 0 0 70px;

      img {
        height: 35px;
        margin: 8px;
      }
    }
  }
}

@media (max-width: 600px) {
  .layout {
    .header {
      flex: 0 0 120px;
      padding: 0 10px;
      nav {
        align-self: flex-end;

        ul {
          border-bottom: 1px solid $black;
          li {
            a {
              padding: 7px 5px;
              font-size: 14px;
            }
          }
        }
      }
      .myTitle {
        margin: 12px;
        margin-bottom: 0;

        align-self: flex-start;
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 12px;
        }
      }
    }

    .portfolio {
      .nextButton {
        flex: 0 0 40px;
        margin: 5px;
        img {
          width: 40px;
        }
      }
      .main {
        .imageLink {
          .image {
            max-width: 200px;
            .mobile {
              margin-bottom: -100px;
            }
          }

          .link {
            margin: 0px;
            font-size: 14px;
            text-align: center;
            padding: 10px 0;
          }
        }
        .info {
          border-right: solid 0 $black;
          padding: 0;

          h1 {
            font-size: 20px;
            margin-top: 20px;
          }
          h3 {
            margin-top: 2px;
            margin-right: 5px;
            font-size: 15px;
          }
          .about {
            font-size: 15px;
            max-width: 95%;
            text-align: center;
            margin: 5px;
          }
          .context {
            font-size: 12px;
            max-width: 100%;
            text-align: center;
          }
          .stack {
            border-top: 1px solid $black;
            align-self: center;
            text-align: center;
            padding: 0 40px;
            font-size: 12px;
          }
          .year {
            font-size: 10px;
            margin: 10px;
          }
        }
      }
    }

    .aboutMe {
      .main {
        .info {
          .about {
            font-size: 15px;
            max-width: 90%;
            text-align: center;
          }
          .context {
            font-size: 12px;
            max-width: 80%;
            text-align: center;
            margin-top: 0;
          }
          .stack {
            border-top: 1px solid $black;
            align-self: center;
            text-align: center;
            padding: 0 40px;
            font-size: 12px;
          }
        }
        .imageLink {
          .image {
            max-width: 190px;
          }
        }
      }
    }

    .footer {
      flex: 0 0 60px;
      img {
        height: 30px;
        margin: 8px;
      }
    }
  }
}
